@font-face {
    font-family: 'Titillium Web';
    src: url('../../fonts/TitilliumWeb-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../../fonts/TitilliumWeb-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', Arial, sans-serif;
    background-color: #0a0042; /* Bleu abysses */
    color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e90ff;
    color: #fff;
}

header .header-left, header .header-center, header .header-right {
    display: flex;
    align-items: center;
}

header .header-center {
    flex: 1;
    justify-content: center;
}

header img {
    max-height: 50px;
}

.statistics-content {
    padding: 20px;
}

#charts-container {
    margin: 20px 0;
}

canvas {
    background-color: #fff;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e90ff;
    color: #fff;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}
