@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
    background-color: #0a0042;
    color: #f0f0f0;
}

span {
    font-family: 'Titillium Web';
    font-size: medium;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0527;
    color: #f0f0f0;
    padding: 10px;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 0;
}

.header-center {
    flex: 7;
    text-align: center;
}

main {
    padding: 20px;
}

.scouter-info {
    margin-bottom: 20px;
}

.info-box {
    border: 1px solid #444;
    padding: 10px;
    background-color: #1c1c1c;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

button {
    padding: 5px 10px;
    background-color: #2b2b2b;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.scout-buttons {
    display: flex;
    justify-content: space-around;
}

.button_scout_match {
    background-color: #036bcc;
}

.button_scout_pit {
    background-color: #ff0000;
}

.scout-buttons button {
    width: 45%;
}

.ia-button {
    display: flex;
    justify-content: space-around;
}
.ia-button button {
    width: 45%;
}
.button_ia {
    background-color: #8203cc;
}

footer {
    background-color: #0a0527;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width: 130px;
}

.scout_icon {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.button_scout_pit, .button_scout_match, .button_ia {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crescendo_logo {
    width: 250px;
    height: auto;
}

.maintenance {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: #fff6cc; /* Jaune pâle */
    color: #333; /* Couleur contrastée */
    border: 2px solid #f5c000; /* Bord jaune plus soutenu */
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%; /* Taille adaptative */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.maintenance-banner {
    display: flex;
    border: 1px solid #f5c000; /* Couleur du cadre */
    border-radius: 6px;
    background-color: #fffef3; /* Jaune pâle */
    margin: 20px auto;
    max-width: 90%; /* Adaptable à l'écran */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Titillium Web', sans-serif;
  }
  
  .banner-side-bar {
    background-color: #f5c000;
    width: 5px;
    border-radius: 6px 0 0 6px;
  }
  
  .banner-content {
    padding: 15px 20px;
    flex-grow: 1;
  }
  
  .banner-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .banner-icon {
    font-size: 20px;
    color: #f5c000;
    margin-right: 10px;
  }
  
  .banner-title {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  
  .banner-text {
    margin: 0;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  /* Bannière de mise à jour */
.update-banner {
  display: flex;
  border: 1px solid #007bff; /* Couleur du cadre */
  border-radius: 6px;
  background-color: #f0f8ff; /* Bleu pâle */
  margin: 20px auto;
  max-width: 90%; /* Adaptable à l'écran */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Titillium Web', sans-serif;
}

.update-banner .banner-side-bar {
  background-color: #007bff;
  width: 5px;
  border-radius: 6px 0 0 6px;
}

.update-banner .banner-content {
  padding: 15px 20px;
  flex-grow: 1;
}

.update-banner .banner-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.update-banner .banner-icon {
  font-size: 20px;
  color: #007bff;
  margin-right: 10px;
}

.update-banner .banner-title {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.update-banner .banner-text {
  margin: 0;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.update-banner .update-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.update-banner .update-button:hover {
  background-color: #0056b3;
}
