@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
    background-color: #0a0042;
    color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0527;
    color: #f0f0f0;
    padding: 10px;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 0;
}

.header-center {
    flex: 7;
    text-align: center;
}

main {
    padding: 20px;
}

.scouter-info {
    margin-bottom: 20px;
}

.info-box {
    border: 1px solid #444;
    padding: 10px;
    background-color: #1c1c1c;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

button {
    padding: 5px 10px;
    background-color: #2b2b2b;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
    font-family: 'Titillium Web';
}

.scout-buttons {
    display: flex;
    justify-content: space-around;
}

.button_scout_match {
    background-color: #036bcc;
}

.button_scout_pit {
    background-color: #ff0000;
}

.scout-buttons button {
    width: 45%;
}

footer {
    background-color: #0a0527;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width: 130px;
}

.scout_icon {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.button_scout_pit, .button_scout_match {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crescendo_logo {
    width: 170px;
    height: auto;
}









/* Styles pour la popup */
.popup {
    position: fixed;
    font-family: 'Titillium Web', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c1c;
    color: #f0f0f0;
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    padding: 20px;
    z-index: 1000;
    display: none;
}

.popup h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.popup .popup-content {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.popup .popup-content img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.popup .popup-content .details {
    flex-grow: 1;
}

.popup .popup-content .details label {
    display: block;
    margin-bottom: 5px;
}

.popup .popup-content .details .static-text {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #f0f0f0;
}

.popup .popup-content .details button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #007bff;
    color: #fff;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup .popup-content .details button img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.popup .patch-notes {
    margin-bottom: 20px;
}

.popup .patch-notes .static-text {
    display: block;
    width: calc(100% - 20px);
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #f0f0f0;
    resize:horizontal;
}

.popup .popup-buttons {
    text-align: center;
}

.popup .popup-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.popup .popup-buttons button:hover {
    background-color: #0056b3;
}