@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb-Light.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('./fonts/TitilliumWeb-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
    background-color: #0a0042;
    color: #f0f0f0;
}

span {
    font-family: 'Titillium Web';
    font-size: medium;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0527;
    color: #f0f0f0;
    padding: 10px;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 0;
}

.header-center {
    flex: 7;
    text-align: center;
}

main {
    padding: 20px;
}

.scouter-info {
    margin-bottom: 20px;
}

.info-box {
    border: 1px solid #444;
    padding: 10px;
    background-color: #1c1c1c;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
}

button {
    padding: 5px 10px;
    background-color: #2b2b2b;
    color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.scout-buttons {
    display: flex;
    justify-content: space-around;
}

.button_scout_match {
    background-color: #036bcc;
}

.button_scout_pit {
    background-color: #ff0000;
}

.scout-buttons button {
    width: 45%;
}

.ia-button {
    display: flex;
    justify-content: space-around;
}
.ia-button button {
    width: 45%;
}
.button_ia {
    background-color: #8203cc;
}

footer {
    background-color: #0a0527;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width: 130px;
}

.scout_icon {
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.button_scout_pit, .button_scout_match, .button_ia {
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crescendo_logo {
    width: 170px;
    height: auto;
}
