/* Nouveau style pour la classe .container */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Augmentation du rayon de la bordure */
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajout d'une légère ombre */
}

/* Nouveau style pour les sections */
.team-selection, .team-details, .scouter-comments, .generate-csv {
    margin-bottom: 30px; /* Espacement entre les sections */
}

/* Nouveau style pour les boutons */
.select-team, .comment-box, .save-button, .csv-button {
    display: block;
    width: 100%;
    padding: 15px; /* Augmentation de la taille du padding */
    margin-top: 10px; /* Espacement entre les éléments */
    font-size: 18px; /* Augmentation de la taille de la police */
    border: none; /* Suppression de la bordure */
    border-radius: 10px; /* Augmentation du rayon de la bordure */
    transition: background-color 0.3s, color 0.3s; /* Animation de transition */
}

/* Nouveau style pour les boutons Enregistrer et Générer le fichier CSV */
.save-button, .csv-button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Changement de couleur au survol des boutons */
.save-button:hover, .csv-button:hover {
    background-color: #0056b3;
}
