@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}
  
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #00203F; /* Bleu abyssal */
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    color: #c7932a;
}
a:hover {
    color: orange
}
  
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}
  
h1 {
    text-align: center;
    font-size: 2rem;
}
  
p {
    text-align: center;
    margin-bottom: 20px;
}
  
.license-card {
    border: 1px solid #ffffff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #005582; /* Teinte de bleu */
}
  
.license-name {
    font-size: 1.2rem;
    font-weight: bold;
}
  
.license-content {
    margin-top: 5px;
}
  